html {
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-feature-settings:"onum" 1,"liga";
}

h1 {
  font-weight: 100;
  color: $brand-blue;
}

a {
  transition: .3s;
  @include pretty-underlines();
  
  &:hover {
    @include force-redraw;
  }
}