html {
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-feature-settings:"onum" 1,"liga";
}

.smc {
  font-feature-settings: "c2sc", "smcp";
}

h1 {
  font-weight: 100;
  color: $brand-blue;
}

a {
  transition: .3s;
  @include pretty-underlines();
  
  &:hover {
    @include force-redraw;
  }
}

.m {
  font-size: 1.75em;
  font-weight: 100;
}