body,
header {
  margin-top: 0;
}

header,
footer {
  text-align: center;
}

footer {
  font-size: 0.815em;
  @include lock(padding-top padding-bottom, 20em, 87.5em, 1.3rem, 1.5rem);
}

.contain,
.hero {
  width: 96%;
  max-width: 32em;
  margin-left: auto;
  margin-right: auto;
}