body,
header {
  margin-top: 0;
}

body {
  padding: 1.5rem 0;
}

header,
footer {
  text-align: center;
}

footer {
  font-size: 0.815em;
}

.contain,
.hero {
  width: 96%;
  max-width: 32em;
  margin-left: auto;
  margin-right: auto;
}