.ix .w {
  @media (min-width: 100em) {
    min-width: 40em;
  }
}

.imgs .ix main,
.ix footer {
  margin-top: 0;
}

#hr,
#cs {
  .imgs & img {
    width: 100%;
    max-width: none;
  }
}

// Hero
.imgs #hr {
  position: relative;
  img {
    filter: grayscale(100%);
      display: block;
  }
  @media (min-width: 45em) {
    border-bottom: $brand-blue solid 2px;
    .w {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: 0;
      padding: 1.5rem 1.5em;
      background-color: rgba(255,255,255,.96);
    }
  }
}

// Case study thumbs
#cs {  
  h4 {
    margin-top: 0;
    a {
      padding: 0 1em 0.5rem;
    }
  }
  a {
    display: block;
    background-image: none;
  }
  img {
    display: block;
    filter: grayscale(100%);
    transition: .5s;
  }
  li {
    width: 100%;
    background-color: $brand-blue;
    &:hover img {
      filter: grayscale(0);
    }
    a {
      color: #fff;
    }
  }
  
  @supports (display: flex) {
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 0;
    }
    li {
      margin-top: 1.5rem;
      @media (min-width: 35em) {
        width: 48%;
      }
    }
  }
}
.css-shape #cs {
  img {
    float: right;
    shape-margin: 0.5rem;
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  }
  h4 {
  }
}

// Poster image
#pd {
  overflow: hidden;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: $brand-blue;
  color: #fff;
}

.pdi {
  height: 20em;
  width: 100%;
  color: $brand-black;
  @media (min-width: 37.5em) {
    float: left;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 2rem;
  }
  @media (min-width: 100em) {
    height: 25em;
  }
}

[data-embed_type="product"] {
  margin-top: 0;
}