.ix footer {
  margin-top: 0;
}

// Case study thumbs
#cs {  
  h4 {
    margin-top: 0;
    a {
      display: block;
      padding: 0 1em 0.5rem;
    }
  }
  a {
    background-image: none;
  }
  img {
    filter: grayscale(100%);
    transition: .5s;
  }
  li {
    background-color: $brand-blue;
    &:hover img {
      filter:  grayscale(0);
    }
    a {
      color: #fff;
    }
  }
  
  @supports (display: flex) {
    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin-top: 0;
    }
    li {
      margin-top: 1.5rem;
      @media (min-width: 35em) {
        max-width: 48%;
      }
    }
  }
}
.css-shape #cs {
  img {
    float: right;
    shape-margin: 0.5rem;
    shape-outside: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  }
  h4 {
  }
}


// Poster image
#pos {
  overflow: hidden;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: $brand-blue;
  color: #fff;
}

.prod-img {
  height: 20em;
  width: 100%;
  color: $brand-black;
  @media (min-width: 37.5em) {
    float: left;
    width: 48%;
    margin-right: 2%;
    margin-bottom: 2rem;
  }
}

[data-embed_type="product"] {
  margin-top: 0;
}