nav {
  li {
    display: inline-block;
    margin-top: 0;
  }
  a {
    display: block;
    padding: 0.5em 0.75em;
  }
  .a {
    font-weight: 600;
  }
}

header nav {
  margin-top: 0;
  a {
    color: currentColor;
    text-decoration: none;
    padding: 0.75em;
  }
}
footer nav + a {
  display: inline-block;
  margin-top: 0.5rem;
  @media (min-width: 35em) {
    margin-top: 0;
  }
}