nav {
  li {
    display: inline-block;
    margin-top: 0;
  }
  a {
    display: block;
    padding: 0.5em 0.75em; 
    text-decoration: none;
  }
}

@media (max-width: 37.5em) {
  header nav li {
    display: block;
  }
}